body{
    font-family: 'Raleway';
    color: #181818;
}

h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;
}

.container{
    position: relative;
}

.header__developer{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    margin-right: 0;

    width: 109px;
    height: 32px;
    left: 140px;
    top: 38px;

    border: 2px solid #000000;
    border-radius: 8px;
}

.header__developer-text{
    width: 93px;
    height: 24px;

    margin: auto;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

    color: #000000;
}

.nav__links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 446px;
    height: 24px;
    right: 497px;
    top: 40px;
}

.nav__link{
    list-style-type: none;
}

.nav__link-text{
    width: 73px;
    height: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}

.header__title{
    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;

    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;

    text-align: center;
    letter-spacing: -0.02em;

    color: #181818;
}

.header__subtitle{
    width: 484px;
    height: 48px;
    left: 478px;
    top: 352px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #000000;
}

.header__links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 452px;
    height: 56px;
    left: 494px;
    top: 480px;
}

.header__link_telegram{
    box-sizing:border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 12px;
    gap: 8px;

    width: 215px;
    height: 56px;

    background: #181818;
    border-radius: 8px;
}

.header__link-text_telegram{
    width: 167px;
    height: 24px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

.header__link_portfolio{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 15px;
    gap: 12px;

    width: 221px;
    height: 56px;

    border: 2px solid #181818;
    border-radius: 8px;
}

.header__link-text_portfolio{
    width: 137px;
    height: 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    text-decoration: none;
    color:#181818
}


.header__img-guy{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.header__img-lightning{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.header__img-message{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.works{
    width: 1160px;
    height: 2056px;
    left: 140px;
    top: 656px;
}

.works__filters{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;

    width: 473px;
    height: 32px;
    left: 483px;
    top: 656px;
}

.works__filter{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.works__filter_white{
    border: 1px solid #000000;
    border-radius: 10000px;

    font-weight: 600;

    white-space: nowrap;
}

.works__filter_black{
    background: #181818;
    border-radius: 10000px;

    font-weight: 600;

    color: #FFFFFF;
}

.works__gallery{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 1160px;
    height: 1984px;
    left: 140px;
    top: 728px;
}

.works__second-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 1160px;
    height: 400px;
}

.works__fourth-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 1160px;
    height: 460px;
}

.about-me{
    width: 997px;
    height: 560px;
    left: 227px;
    top: 2832px;
}

.about-me__info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 997px;
    height: 560px;
    left: 227px;
    top: 2832px;
}

.about-me__img{
    width: 400px;
    height: 560px;
    left: 300px;
    top: 2832px;
    border-radius: 24px;
}

.about-me__title{
    margin-left: 40px;

    width: 478px;
    height: 64px;
    left: 740px;
    top: 2912px;
}

.about-me__text{
    margin-left: 40px;

    width: 484px;
    height: 168px;
    left: 740px;
    top: 3000px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.about-me__icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.about-me__stats{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-left: 40px;
}

.about-me__stat{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 79px;
    height: 88px;
    left: 740px;
    top: 3232px;
}

.about-me__number{
    margin-bottom: 0;
    width: 41px;
    height: 24px;

    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    font-feature-settings: 'pnum' on, 'lnum' on;
}

.about-me__stat-text{
    margin: 0;
    width: 87px;
    height: 48px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.prices{
    width: 1440px;
    height: 768px;
    left: 0px;
    top: 3512px;

    background-color: #181818;
}

.prices__title{
    width: 156px;
    height: 64px;
    left: 642px;
    top: 3632px;

    text-align: center;

    color: #FFFFFF;
}

.prices__services{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 28px;

    width: 1160px;
    height: 384px;
    left: 140px;
    top: 3776px;
}

.prices__service{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;

    width: 368px;
    height: 384px;

    background: #FFFFFF;
    border-radius: 16px;
}

.prices__small-number{
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    opacity: 0.5;
}

.prices__name{
    width: 288px;
    height: 24px;
    
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.prices__description{
    width: 288px;
    height: 96px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.prices__horizontal-line{
    width: 80px;
    height: 0px;

    opacity: 0.2;
    border-top: 1px solid #181818;
}

.prices__price{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    font-feature-settings: 'pnum' on, 'lnum' on;
}

.price-calculation__title{
    width: 446px;
    height: 64px;
    left: 497px;
    top: 4400px;
}

.price-calculation__form{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;

    width: 448px;
    height: 368px;
    left: 496px;
    top: 4544px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.price-calculation__select{
    box-sizing: border-box;

    width: 400px;
    height: 48px;

    background: #FFFFFF;
    border-color:#CCCCCC;
    border-radius: 8px;
}

.price-calculation__select-text{
    width: 221px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;
}

.price-calculation__checkbox-field{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 363px;
    height: 48px;
}

.price-calculation__checkbox{
    width: 16px;
    height: 20px;
}

.price-calculation__checkbox-label{
    width: 331px;
    height: 48px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.price-calculation__button-calculate{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    width: 400px;
    height: 56px;

    background-color:#FFFFFF;

    border: 2px solid #181818;
    border-radius: 8px;

    font: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.price-calculation__approximate{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 24px;

    width: 400px;
    height: 384px;
    left: 520px;
    top: 4904px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}

.price-calculation__approximate-title{
    width: 318px;
    height: 64px;

    margin: 0;

    font-weight: 600;
    font-size: 32px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;
}

.price-calculation__text-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 120px;
    height: 48px;
}

.price-calculation__text{
    width: 141px;
    height: 24px;

    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;

    white-space: nowrap;
}

.price-calculation__number{
    width: 161px;
    height: 24px;

    margin: 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.price-calculation__button-discuss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    width: 352px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

    font: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.faq{
    width: 1440px;
    height: 1232px;
    left: 0px;
    top: 5408px;

    background: #181818;
}

.faq__title{
    width: 316px;
    height: 64px;
    left: 562px;
    top: 5528px;

    color: #FFFFFF;
}

.faq__questions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1160px;
    height: 848px;
    left: 140px;
    top: 5672px;
}

.faq__question{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;

    width: 1160px;
    height: 88px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.faq__question_unfolded{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 40px;
    gap: 24px;

    width: 1160px;
    height: 328px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;
}

.faq__question-text{
    width: 357px;
    height: 24px;

    margin: 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.faq__answer-text{
    width: 800px;
    height: 216px;

    margin: 0;

    color: #181818;
}

.faq__answer-text-list{
    margin: 0;
}

.application__title{
    width: 371px;
    height: 64px;
    left: 534px;
    top: 6760px;

    margin-bottom: 0;
}

.application__subtitle{
    width: 391px;
    height: 24px;
    left: 524px;
    top: 6832px;

    margin-top: 0;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.application__form{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;

    width: 448px;
    height: 552px;
    left: 496px;
    top: 6936px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.application__inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 400px;
    height: 376px;
}

.application__input{
    width: 392px;
    height: 44px;

    background: #FFFFFF;
    border-radius: 8px;
}

.application__select{
    width: 400px;
    height: 48px;

    background: #FFFFFF;
    border-radius: 8px;
}

.application__input::placeholder{
    width: 50px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;
}

.application__select-text{
    width: 53px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;
}

.application__input_comment{
    width: 392px;
    height: 160px;

    background: #FFFFFF;
    border-radius: 8px;
}

.application__input_comment::placeholder{
    width: 107px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;
}

.application__button-send{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    width: 400px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.application__img-guy{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.application__img-lightning{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #F1F1F1;
    border-radius: 10000px;    
}

.application__img-message{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 140px;
    left: 0px;
    top: 0px;
    
    background: #F1F1F1;
    border-radius: 10000px;    
}

.application__img-guy-icon{
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
}

.application__img-lightning-icon{
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
}

.application__img-message-icon{
    width: 56px;
    height: 57px;
}

.application__socials{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;    
}

.application__social{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    background: #F9F9F9;
}